#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /*padding: 2em;*/
  flex-basis: 33.333%;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  align-items: baseline;
}

.container div{
  font-size: 50px;
}
.container p{
  font-size: 20px;
  padding: 0 30px;
}

.box{
  border: solid 1px #000;
  padding: 30px;
  background-color:cornsilk;
}

form{
  text-align: left;
  font-size: 18px;
  min-width: 500px;
  background-color:#dfdddd;
  padding: 30px;
}
form div{
  padding: 10px 0;
}
form label{
  width: 20%;
  display: inline-block;
} 

form input{
  line-height: 20px;
  padding: 5px;
  width:75%
} 

form button{
  display: block;
  margin: 30px auto;
  background-color:blueviolet;
  color: #FFF;
}

form .error{
  font-size: 12px;
  display: block;
  color: red;
  text-align: right;
  padding-right: 12px;
}
.container{
  display: flex;
  align-items: baseline;
}

.container div{
  font-size: 50px;
}
.container p{
  font-size: 20px;
  padding: 0 30px;
}


li {
  list-style-type: none;
}

.productos{
  display: flex;
  flex-wrap: wrap;
}

.item{
  background-color:cornsilk;
  border: solid 1px #000;
  padding: 30px;
  margin: 5px;
}
ul.navbar-nav .nav-link.active{
  color:red;
}